.popUpDiv {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.popUp {
  cursor: pointer;
  border: 16px solid #ffcc00;
  border-radius: 10px;
  width: 480px;
  height: 744px;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shadowBox {
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.popUp-img {
  height: 370px;
  width: 370px;
  border: 3px solid black;
  z-index: 3;
  position: absolute;
  margin-top: 8px;
  top: 36%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff8000,
    #ffff00,
    #80ff00,
    #00ff00,
    #00ff80,
    #00ffff,
    #0080ff,
    #0000ff,
    #8000ff,
    #ff00ff,
    #ff0080,
    #ff0000
  );
  background-size: 300% 300%;
  animation: rainbowAnimation 5s infinite;
  object-fit: cover;
}

@keyframes rainbowAnimation {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}

.number-popup {
  font-family: "pokemon";
  color: white;
  z-index: 3;
  -webkit-text-stroke: 3px black;
}

.name-popup {
  font-family: "pokemon";
  color: white;
  z-index: 3;
  -webkit-text-stroke: 3px black;
}

.header-popup {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 11%;
  left: 50%;
  gap: 48px;
  position: absolute;
  font-size: 40px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.background-info-div {
  width: 480px;
  height: 744px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-btn-left {
  top: 50%;
  left: 14.5%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: none;
  z-index: 4;
  opacity: 0.8;
  position: fixed;
}

.arrow-btn-right {
  top: 50%;
  left: 85.5%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: none;
  z-index: 4;
  opacity: 0.8;
  position: fixed;
}

.arrow-btn-right:hover {
  opacity: 1;
  cursor: pointer;
}

.arrow-btn-left:hover {
  opacity: 1;
  cursor: pointer;
}

.popUp-arrow {
  background: none;
  position: absolute;
  top: 64%;
  left: 106%;
  cursor: pointer;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -50%);
}

.popUp-arrow:hover {
  height: 62px;
  width: 62px;
}
@media (max-width: 470px) {
  .popUp {
    width: 360px;
    border: 8px solid #ffcc00;
  }

  .background-info-div {
    width: 360px;
  }

  .stats {
    left: 0.5%;
    width: 330px;
    margin-left: 16px;
  }

  .popUp-img {
    height: 370px;
    width: 340px;
  }
}

@media (max-width: 390px) {
  .popUp {
    width: 300px;
    height: 600px;
    border: 8px solid #ffcc00;
  }

  .background-info-div {
    width: 300px;
    height: 600px;
  }

  .stats {
    top: 53%;
    width: 260px;
  }

  .popUp-img {
    height: 240px;
    width: 240px;
  }

  .header-popup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 190px;
    gap: 36px;
    font-size: 32px;
    position: absolute;
  }

  .arrow-btn-right,
  .arrow-btn-left {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 900px) {
  .popUp {
    height: 1000px;
    width: 600px;
  }

  .background-info-div {
    height: 1000px;
    width: 600px;
  }

  .header-popup {
    font-size: 64px;
    top: 26%;
  }

  .popUp-img {
    top: 40%;
  }

  .stats {
    top: 55%;
    left: 20%;
  }

  .stat-name {
    font-size: 30px;
  }
}

@media (max-width: 3000px) and (max-height: 1600px) {
  .popUp {
    height: 1250px;
    width: 850px;
  }

  .header-popup {
    top: 15%;
    font-size: 80px;
  }

  .background-info-div {
    height: 1250px;
    width: 850px;
  }

  .popUp-img {
    height: 520px;
    width: 500px;
  }

  .stats {
    width: 510px;
    top: 58%;
    left: 20%;
  }

  .stat-name {
    font-size: 36px;
  }
}

@media (max-width: 3000px) and (max-height: 1300px) {
  .popUp {
    height: 950px;
    width: 850px;
  }

  .header-popup {
    top: 13%;
    font-size: 64px;
  }

  .background-info-div {
    height: 950px;
    width: 850px;
  }

  .stat-name {
    font-size: 24px;
  }

  .stats {
    top: 64%;
  }

  .popUp-img {
    top: 38%;
    height: 460px;
    width: 460px;
  }
}

@media (max-width: 2050px) and (max-height: 1100px) {
  .stats {
    z-index: 3;
    position: absolute;
    margin-top: 8px;
    top: 61%;
    left: 10.5%;
    width: 380px;
  }

  .stat {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .stat-value {
    display: flex;
  }

  .stat-name {
    display: flex;
    align-items: center;
    font-family: "pokemon";
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 20px;
  }

  .progressbar {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 200px;
    padding: 3px;
  }

  .progressbar:after {
    content: "";
    display: block;
    /* background: #ffcc00; */
    /* background: orange !important; */
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff8000,
      #ffff00,
      #80ff00,
      #00ff00,
      #00ff80,
      #00ffff,
      #0080ff,
      #0000ff,
      #8000ff,
      #ff00ff,
      #ff0080,
      #ff0000
    );
    background-size: 300% 300%;
    animation: rainbowAnimation 5s infinite;
    height: 100%;
    border-radius: 9px;
  }

  .popUpDiv {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .popUp {
    cursor: pointer;
    border: 16px solid #ffcc00;
    border-radius: 10px;
    width: 480px;
    height: 860px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #shadowBox {
    background-color: rgb(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .popUp-img {
    height: 370px;
    width: 370px;
    border: 3px solid black;
    z-index: 3;
    position: absolute;
    margin-top: 8px;
    top: 36%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff8000,
      #ffff00,
      #80ff00,
      #00ff00,
      #00ff80,
      #00ffff,
      #0080ff,
      #0000ff,
      #8000ff,
      #ff00ff,
      #ff0080,
      #ff0000
    );
    background-size: 300% 300%;
    animation: rainbowAnimation 5s infinite;
    object-fit: cover;
  }

  @keyframes rainbowAnimation {
    0%,
    100% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
  }

  .number-popup {
    font-family: "pokemon";
    color: white;
    z-index: 3;
    -webkit-text-stroke: 3px black;
  }

  .name-popup {
    font-family: "pokemon";
    color: white;
    z-index: 3;
    -webkit-text-stroke: 3px black;
  }

  .header-popup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 13%;
    left: 50%;
    gap: 48px;
    position: absolute;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .background-info-div {
    width: 480px;
    height: 860px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow-btn-left {
    top: 50%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background: none;
    z-index: 4;
    opacity: 0.8;
    position: fixed;
  }

  .arrow-btn-right {
    top: 50%;
    left: 85.5%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background: none;
    z-index: 4;
    opacity: 0.8;
    position: fixed;
  }

  .arrow-btn-right:hover {
    opacity: 1;
    cursor: pointer;
  }

  .arrow-btn-left:hover {
    opacity: 1;
    cursor: pointer;
  }
}

@media (max-width: 900px) and (max-height: 1100px) {
  .stats {
    top: 64%;
    left: 10%;
    width: 600px;
  }

  .popUp-img {
    width: 420px;
    height: 420px;
  }

  .header-popup {
    top: 10%;
    font-size: 64px;
  }

  .stat-name {
    font-size: 24px;
  }
}

@media (max-width: 1920px) and (max-height: 850px) {
  .popUpDiv {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .popUp {
    cursor: pointer;
    border: 16px solid #ffcc00;
    border-radius: 10px;
    width: 480px;
    height: 744px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #shadowBox {
    background-color: rgb(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .popUp-img {
    height: 370px;
    width: 370px;
    border: 3px solid black;
    z-index: 3;
    position: absolute;
    margin-top: 8px;
    top: 36%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff8000,
      #ffff00,
      #80ff00,
      #00ff00,
      #00ff80,
      #00ffff,
      #0080ff,
      #0000ff,
      #8000ff,
      #ff00ff,
      #ff0080,
      #ff0000
    );
    background-size: 300% 300%;
    animation: rainbowAnimation 5s infinite;
    object-fit: cover;
  }

  @keyframes rainbowAnimation {
    0%,
    100% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
  }

  .number-popup {
    font-family: "pokemon";
    color: white;
    z-index: 3;
    -webkit-text-stroke: 3px black;
  }

  .name-popup {
    font-family: "pokemon";
    color: white;
    z-index: 3;
    -webkit-text-stroke: 3px black;
  }

  .header-popup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 11%;
    left: 50%;
    gap: 48px;
    position: absolute;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .background-info-div {
    width: 480px;
    height: 744px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow-btn-left {
    top: 50%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background: none;
    z-index: 4;
    opacity: 0.8;
    position: fixed;
  }

  .arrow-btn-right {
    top: 50%;
    left: 85.5%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background: none;
    z-index: 4;
    opacity: 0.8;
    position: fixed;
  }

  .arrow-btn-right:hover {
    opacity: 1;
    cursor: pointer;
  }

  .arrow-btn-left:hover {
    opacity: 1;
    cursor: pointer;
  }
}

@media (max-width: 900px) and (max-height: 1150px) {
  .popUp {
    height: 950px;
    width: 750px;
  }
  .background-info-div {
    height: 950px;
    width: 750px;
  }
}

@media (max-width: 800px) and (max-height: 1150px) {
  .popUp {
    height: 950px;
    width: 600px;
  }

  .background-info-div {
    height: 950px;
    width: 600px;
  }

  .stat-name {
    font-size: 24px;
  }

  .stats {
    top: 64%;
    left: 10%;
    width: 480px;
  }
}

@media (max-width: 655px) and (max-height: 1150px) {
  .popUp {
    height: 950px;
    width: 500px;
  }

  .background-info-div {
    height: 950px;
    width: 500px;
  }

  .stats {
    top: 64%;
    left: 10%;
    width: 420px;
  }
}

@media (max-width: 600px) and (max-height: 1150px) {
  .stats {
    top: 64%;
    left: 10%;
    width: 380px;
  }
}

@media (max-width: 560px) and (max-height: 800px) {
  .popUp {
    width: 40px;
  }

  .background-info-div {
    width: 400px;
  }

  .stats {
    left: 3.5%;
  }
}

@media (max-width: 800px) and (max-height: 1050px) {
  .popUp {
    width: 600px;
    height: 900px;
  }

  #background-info-div {
    width: 600px;
    height: 900px;
  }

  .header-popup {
    top: 12%;
  }
}

@media (max-width: 620px) and (max-height: 1020px) {
  .background-info-div {
    width: 520px !important;
  }

  .popUp {
    width: 520px;
  }

  .stats {
    top: 58%;
    left: 13%;
  }
  .stat-name {
    font-size: 26px;
  }

  .header-popup {
    font-size: 48px;
  }
}

@media (max-width: 600px) and (max-height: 1050px) {
  .popUp {
    width: 450px;
    height: 900px;
  }

  #background-info-div {
    width: 450px;
    height: 900px;
  }

  .header-popup {
    top: 12%;
  }

  .stat-name {
    font-size: 22px;
  }
}

@media (max-width: 600px) and (max-height: 1010px) {
  .popUp {
    width: 520px;
    height: 900px;
  }
}

@media (max-width: 900px) and (max-height: 850px) {
  .popUp {
    width: 480px;
    height: 744px;
  }

  .background-info-div {
    width: 480px;
    height: 744px;
  }

  .stats {
    width: 380px;
    top: 58%;
  }

  .stat-name {
    font-size: 20px;
  }
}

@media (max-width: 800px) and (max-height: 950px) {
  .popUp {
    width: 420px;
    height: 720px;
  }

  .header-popup {
    top: 16%;
  }

  .name-popup, .number-popup {
    font-size: 48px;
  }


  #background-info-div {
    width: 420px;
    height: 720px;
  }

  .stats {
    left: 8%;
    top: 58%;
    width: 380px;
  }

  .popUp-img {
    height: 320px;
    width: 320px;
    top: 38%;
  }

  .stat-name {
    font-size: 22px;
  }
}

@media (max-width: 670px) and (max-height: 920px) {
  .popUp {
    width: 480px;
    height: 720px;
  }

  .header-popup {
    top: 16%;
  }

  #background-info-div {
    width: 480px !important;
    height: 720px;
  }

  .popUp-arrow {
    width: 36px;
    height: 36px;
    left: 104%;
  }

  .stats {
    left: 15%;
    top: 58%;
  }

  .stat-name {
    font-size: 22px;
  }

  .popUp-img {
    height: 320px;
    width: 320px;
    top: 38%;
  }
}

@media (max-width: 510px) and (max-height: 900px) {
  .header-popup {
    top: 16%;
  }
}

@media (max-width: 510px) and (max-height: 820px) {
  .header-popup {
    top: 14%;
  }

  .popUp {
    width: 420px;
    height: 700px;
  }

  .popUp-img {
    height: 290px;
    width: 290px;
    top: 38%;
  }

  #background-info-div {
    width: 420px;
    height: 700px;
  }

  .stats {
    width: 320px;
  }
}

@media (max-width: 510px) and (max-height: 770px) {
  .header-popup {
    top: 11%;
  }
}

@media (max-width: 510px) and (max-height: 740px) {
  .popUp {
    width: 380px;
    height: 620px;
  }

  #background-info-div {
    width: 380px;
    height: 620px;
  }

  .header-popup {
    top: 13%;
  }

  .popUp-img {
    height: 260px;
    width: 260px;
    top: 34%;
  }

  .stats {
    top: 55%;
    width: 280px;
  }
  .stat-name {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  #loadTwentyMoreButton,
  #loadAllButton {
    height: 160px;
    width: 140px;
    font-size: 20px;
  }
}
