.popUpDiv {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.popUp {
  cursor: pointer;
  border: 16px solid #ffcc00;
  border-radius: 10px;
  width: 440px;
  height: 680px;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shadowBox {
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.popUp-img {
  height: 320px;
  width: 350px;
  border: 3px solid black;
  z-index: 3;
  position: absolute;
  margin-top: 8px;
  top: 36%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg,
      #ff0000,
      #ff8000,
      #ffff00,
      #80ff00,
      #00ff00,
      #00ff80,
      #00ffff,
      #0080ff,
      #0000ff,
      #8000ff,
      #ff00ff,
      #ff0080,
      #ff0000);
  background-size: 300% 300%;
  animation: rainbowAnimation 5s infinite;
  object-fit: cover;
}

@keyframes rainbowAnimation {

  0%,
  100% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }
}

.number-popup {
  font-family: "Pokemon", monospace;
  color: white;
  z-index: 3;
  -webkit-text-stroke: 3px black;
}

.name-popup {
  font-family: "Pokemon", monospace;
  color: white;
  z-index: 3;
  -webkit-text-stroke: 3px black;
}

.header-popup {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 48px;
  font-size: 36px;
  padding-top: 24px;
}

.background-info-div {
  width: 440px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-btn-left {
  top: 50%;
  left: 14.5%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: none;
  z-index: 4;
  opacity: 0.8;
  position: fixed;
}

.arrow-btn-right {
  top: 50%;
  left: 85.5%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: none;
  z-index: 4;
  opacity: 0.8;
  position: fixed;
}

.arrow-btn-right:hover {
  opacity: 1;
  cursor: pointer;
}

.arrow-btn-left:hover {
  opacity: 1;
  cursor: pointer;
}

.stats {
  z-index: 3;
  position: absolute;
  top: 61%;
  left: 10.5%;
  width: 350px;
}

.popUp-arrow {
  background: none;
  position: absolute;
  top: 64%;
  left: 106%;
  cursor: pointer;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -50%);
}

.popUp-arrow:hover {
  height: 62px;
  width: 62px;
}

.popUp-returnarrow {
  background: none;
  position: absolute;
  top: 64%;
  left: -7%;
  cursor: pointer;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -50%);
}

#pokeAbilitieTitle {
  font-family: "Pokemon", monospace;
  font-size: 40px;
  -webkit-text-stroke: 2.5px black;
  color: #ffcc00;
  background: none;
  text-align: center;
  margin: 16px 8px 24px 8px;
}

#fullText {
  background: none;
}

.popUp-returnarrow:hover {
  height: 62px;
  width: 62px;
}

.poke-abilitie-txt {
  font-family: "Pokemon", monospace;
  font-size: 24px;
  margin: 0 24px 40px 24px;
  color: #ffcc00;
  -webkit-text-stroke: 2px black;
  background: none;
}

.poke-abilitie-img {
  background: none;
  height: 320px;
  width: 320px;
}

.poke-abilitie-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#truncatedText {
  background: none;
}

#seeMoreButton {
  height: 40px;
  width: 152px;
  border: 2px solid #000000;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ffcc01;
  font-family: "Pokemon", monospace;
  font-size: 18px;
  font-weight: 100;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-top: 16px;
}

#seeMoreButton:hover {
  background-color: yellow;
}

.see-more-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile devices */
@media (max-width: 485px) {
  .popUp {
    width: 280px;
    height: 600px;
    border: 8px solid #ffcc00;
  }

  #tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
  }

  .header-popup {
    padding-top: 8px;
  }

  .background-info-div {
    width: 280px;
    height: 600px;
  }

  .stats {
    top: 55%;
    width: 260px;
    left: 5%;
  }

  .stat-name {
    font-size: 16px;
  }

  .progressbar {
    height: 10px;
  }

  .popUp-img {
    height: 260px;
    width: 260px;
  }

  .evolution-name {
    font-size: 20px !important;
  }

  .evolution-img {
    height: 100px !important;
    width: 100px !important;
  }

  .arrow-down {
    height: 32px;
    width: 32px;
  }

  .poke-abilitie-img {
    height: 160px;
    width: 160px;
  }

  .popUp-arrow {
    top: 30%;
    left: 95%;
    height: 45px;
    width: 45px;
  }

  .popUp-returnarrow {
    left: 5%;
    top: 90%;
    height: 45px;
    width: 45px;
  }

  .arrow-btn-right, .arrow-btn-left {
    height: 60px;
    width: 60px;
  }
}