.previous-pokemon-img {
  height: 128px;
  width: 128px;
}

.first-pokemon-generation-div, .second-pokemon-generation-div, .third-pokemon-generation-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  flex-direction: column;
  margin: 16px;
}

.evolution-name {
  -webkit-text-stroke: 1.5px black;
  font-family: "Pokemon", monospace;
  color: #ffcc00;
  font-size: 24px;
}

#popupCardTitle {
  text-align: center;
  font-family: "Pokemon", monospace;
  font-size: 40px;
  color: #ffcc00;
  /* border: 2px solid black; */
  -webkit-text-stroke: 1.5px black;
  background: none;
  margin: 16px 8px 24px 8px;
}

.evolution-img{
  background: none;
  height: 168px;
  width: 168px;
}

.arrow-down {
  background: none;
}


@media (max-width: 900px) and (max-height: 850px) {
  #popupCardTitle {
    margin-bottom: 4px;
  }

  .first-pokemon-generation-div, .second-pokemon-generation-div {
    margin-bottom: 4px;
  }

  .third-pokemon-generation-div, .second-pokemon-generation-div {
    margin-top: 0;
  }
}