.previous-pokemon-img {
  height: 128px;
  width: 128px;
}

.first-pokemon-generation-div,
.second-pokemon-generation-div,
.third-pokemon-generation-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  flex-direction: column;
  margin: 12px 12px 24px 12px;
}

.evolution-name {
  -webkit-text-stroke: 1.5px black;
  font-family: "Pokemon", monospace;
  color: #ffcc00;
  font-size: 20px;
}

#popupCardTitle {
  text-align: center;
  font-family: "Pokemon", monospace;
  font-size: 40px;
  color: #ffcc00;
  /* border: 2px solid black; */
  -webkit-text-stroke: 1.5px black;
  background: none;
  margin: 16px 8px 16px 8px;
}

.evolution-img {
  background: none;
  height: 116px;
  width: 116px;
}

.arrow-down {
  background: none;
  width: 48px;
  height: 48px;
}

#moreSpace {
  height: 224px;
  width: 224px;
}

#pokemonHeaderNameInfoCard {
  font-size: 32px;
}

@media (max-width: 485px) {
  #popupCardTitle {
    font-size: 32px;
  }

  .arrow-down {
    background: none;
    width: 32px;
    height: 32px;
  }

  #pokeAbilitieTitle {
    font-size: 32px;
  }

  .poke-abilitie-txt {
    font-size: 20px;
  }
}