* {
  margin: 0;
  background: rgb(7, 2, 103);
  background: radial-gradient(circle, rgb(19, 46, 177) 40%, #07216e 100%);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Pokemon";
  color: #ffcc00;
  cursor: pointer;
  background: none !important;
  font-size: 160px;
  font-weight: 100;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 164px;
  -webkit-text-stroke: 4px black;
}

div {
  background: none;
}

#head {
  display: flex;
  justify-content: space-between;
  background: none;
}

.search-bar {
  font-family: "Pokemon";
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px 152px 56px 0;
}

.search-bar::placeholder {
  font-family: "Pokemon";
}

input {
  font-family: "Concert One";
  font-size: 24px;
  border: 3px solid #ffcc00;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #ffcc00;
  background: none;
  width: 256px;
}

input:focus {
  color: #ffcc00;
}

.name,
.number {
  font-family: "pokemon";
  color: white;
  background: none;
  -webkit-text-stroke: 3px black;
}

#card-field {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  cursor: pointer;
  border: 16px solid #ffcc01;
  border-radius: 10px;
  height: 400px;
  width: 280px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin: 8px;
  font-size: 32px;
}

.properties {
  font-family: "pokemon";
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-size: 18px;
  height: 27.5%;
}

.pokemon-types-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pokemon-abilities-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 60px 0 32px;
  gap: 16px;
}

.weight {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: 32px;
}

.img-types {
  height: 32px;
  width: 32px;
  background-image: none;
}

.types {
  display: flex;
  gap: 4px;
}

.type-name {
  display: flex;
  align-items: center;
}

.oneType {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 104px 0 32px;
  align-items: center;
}

.abilities-div,
.type-div {
  font-size: 18px;
}

.one-ability {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

.one-ability-thiner-margin {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 40px 0 32px;
  align-items: center;
}

.pokemon-images {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 240px;
  width: 280px;
  background: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block !important;
}

.disable-scrolling {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: hsl(59, 100%, 50%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 0%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120, 100%, 50%);
}

.stats {
  z-index: 3;
  position: absolute;
  margin-top: 8px;
  top: 60%;
  left: 10.5%;
  width: 380px;
  margin-top: 0;
}

.stat {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.stat-value {
  display: flex;
}

.stat-name {
  display: flex;
  align-items: center;
  font-family: "pokemon";
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-size: 18px;

}

.progressbar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 200px;
  padding: 3px;
}

.progressbar:after {
  content: "";
  display: block;
  /* background: #ffcc00; */
  /* background: orange !important; */
  background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background-size: 300% 300%;
  animation: rainbowAnimation 5s infinite;
  height: 100%;
  border-radius: 9px;
}

table, tr, td, tbody {
  background: none;

}

table {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

tr {
  width: 100%;
}