* {
  margin: 0;
  background: rgb(7, 2, 103);
  background: radial-gradient(circle, rgb(19, 46, 177) 40%, #07216e 100%);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Pokemon";
  color: #ffcc00;
  cursor: pointer;
  background: none !important;
  font-size: 160px;
  font-weight: 100;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 164px;
  -webkit-text-stroke: 4px black;
}

div {
  background: none;
}

#head {
  display: flex;
  justify-content: space-between;
  background: none;
}

.search-bar {
  font-family: "Pokemon";
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px 152px 56px 0;
}

.search-bar::placeholder {
  font-family: "Pokemon";
}

input {
  font-family: "Concert One";
  font-size: 24px;
  border: 3px solid #ffcc00;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #ffcc00;
  background: none;
  width: 256px;
}

input:focus {
  color: #ffcc00;
}

.name,
.number {
  font-family: "pokemon";
  color: white;
  background: none;
  -webkit-text-stroke: 3px black;
}

#card-field {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  cursor: pointer;
  border: 16px solid #ffcc01;
  border-radius: 10px;
  height: 420px;
  width: 280px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin: 8px;
  font-size: 32px;
}

.properties {
  color: white;
  font-family: "circular";
}

.pokemon-types-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-abilities-div {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.weight {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: 32px;
}

.img-types {
  height: 32px;
  width: 32px;
  background-image: none;
}

.types {
  display: flex;
  gap: 4px;
}

.type-name {
  display: flex;
  align-items: center;
}

.oneType {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 104px 0 32px;
  align-items: center;
}

.abilities-div,
.type-div {
  font-size: 18px;
  font-weight: 900;
  text-decoration: underline;
}

.one-ability {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 90px 0 32px;
  align-items: center;
}

.one-ability-thiner-margin {
  display: flex;
  justify-content: space-between; 
  gap: 16px;
  margin: 0 40px 0 32px;
  align-items: center;
}

.pokemon-images {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 240px;
  width: 280px;
  background: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block !important;
}

.disable-scrolling {
  height: 100%;
  overflow: hidden;
}